body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.main__section{
  width: 100%;
  height: 100vh;
  background-color: #1f2535;
  color: white;
  
}

.navbar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.article__texts{
  padding: 3% 5%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
}

/*Section 2*/
.cards__section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  box-sizing: border-box;
}

.cards__section > div {
  width: 30%;
  height: 300px;
  padding: 3% 2%;
  text-align: center;
}

.cards__section > div img {
  width:100px;
  height:100px;
}


